<html>
    <head>
            <style>
                body {
                background-image: url("https://live.staticflickr.com/8367/8589345220_7c8bec1d3b_b.jpg");
                background-size: 100% 110%;
                }
            </style>
    </head>

<body>


        <br>

        <h1 style="color: rgb(0, 0, 0);">  SPECIES PREDICTION </h1><br>

        <h2 style="color: rgb(0, 0, 0);">Iris Flower Specie : {{ data }} </h2>

        <br><br>
    <a href='/'>go back to home page</a>



</body>

</html>
